mixin product-item()
  .product-item
    .inner-image
      a(href="")
        img(
          alt="" 
          src="/assets/images/product-1.jpg"
          )
    .inner-discount
      i.fa-solid.fa-bolt
      | Giảm -30%
    .inner-content
      h3.inner-title
        a(href="") Hà Nội - Lào Cai - SaPa 4N3Đ
      .inner-prices
        .inner-price-old
          | 13.650.000
          span.inner-unit đ
        .inner-price-new
          | 2.590.000
          span.inner-unit đ
      .inner-desc
        .inner-desc-item
          | Mã Tour:
          b 123456789
        .inner-desc-item
          | Ngày Khởi Hành:
          b 22/07/2024
        .inner-desc-item
          | Thời Gian:
          b 10 Ngày 9 Đêm
      .inner-meta
        .inner-rating
          .inner-stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
          .inner-number (5)
        .inner-stock
          .inner-label Số chỗ còn:
          .inner-number 10
